*{
  box-sizing: border-box;
}
body{
  padding: 0%;
  margin: 0%;
  font-family: 'Francois One', sans-serif;
}
.header{
width: 100%;
height: 89px;
background: url(/img/fondo.jpg);
display: flex;
justify-content: space-between;

}
@media (min-width:769px){
  .header{
    height: 116px;
  }
}
.caja-logo{
  margin-top: 17px;
}
@media (min-width:769px){
  .caja-logo{
    margin-left: 15px;
  }
}
.logo{
  height: 75px;
}
@media (min-width:769px){
  .logo{
    height: 100px;
  }
}

#check{
display: none;
}
.checkbtn{
  font-size: 50px;
  color: rgb(255, 255, 255);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display:inline;
}
@media (min-width:769px){
  .checkbtn{
    display: none;
  }
}
.menu{
  float: right;
  margin: 0px 20px 0px 0px;
  display: none;
}
@media(min-width:769px){
  .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media(min-width:769px){}
.links{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
header ul li a{
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 5px;
  text-transform: uppercase;
}
.active, li a:hover{
  background: #d772f0;
  transition: .5s;
}
.main{
  width: 100%;
  height: 594px;
  background: url(/img/fondo.jpg);
}
@media (min-width:769px){
  .main{
    height: 500px;
  }
}
.container-main{
  padding: 20px 5px;
  height: 594px;
  width: 318px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media (min-width:769px){
  .container-main{
    height: 500px; 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0 80px;
  }
}
.h1{
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}
@media (min-width:769px){
  .h1{
    font-size: 48px;
    text-align: left;
  }
}
@media (min-width:769px){}
 .img{

 }
 
.img-bienvendida{
  height: 300px;
  margin: 0 auto;
  filter: drop-shadow(5px 5px 5px rgb(27, 27, 27));
}

.section-one{
  width: 100%;
  height: 538px;
  background: #C4FEC6;
  padding: 30px 0;
}
@media (min-width:769px){
  .section-one{
    height: 538px;
    padding: 128px 0;
  }
}
.contenedor-section1{
  width: 261px;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
@media (min-width:769px){
  .contenedor-section1{
    height: 280px;
    width: 553px;
    display: grid;
    grid-template-columns: 300px auto;
    gap: 50px;
   
  }
}
.titulo-presentacion{
  margin: 15px;
  font-size: 32px;
  text-align: center;
}
.texto-presentacion{
  font-size: 16px;
  text-align: center;
}

.contenedor-img-check{
  height: 200px;
  width: 300px;
}
@media (min-width:769px){
  .contenedor-img-check{
    height: max-content;
    grid-row: 1 / 3; 
   
  }
}
.img-check{
max-width: 100%;
filter: drop-shadow(5px 5px 5px rgb(27, 27, 27));
}
@media (min-width:769px){
  .img-check{
    min-width: 150px;
    }
}
.section-two{
  width: 100%;
  height: 1375px;
  background: #C4F3FE;
  padding: 30px;

}
@media (min-width:769px){
  .section-two{
    height: 604px;
  }
}

.contenedor-section2{
  height: 1300px;
  width: 262px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
@media (min-width:769px){
  .contenedor-section2{
    width: 100%;
    max-width: 866px;
    height: 261px;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 50px;
  }
}

.subcontenedor{
  height: 328px;
  width: 262px; 
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}
.caja-sec2{ 
  height: 124px;
  width: 150px;
  align-items: center;
}
.mis-servicios{
  font-size: 32px;
  text-align: center;
  margin: 0 auto;
}
@media (min-width:769px){
  .mis-servicios{
    grid-column: 1 / 4;
  }
}
.img-hago-cosas{
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(5px 5px 5px rgb(27, 27, 27));
}
.hago-cosas{
  font-size: 24px;
  text-align: center;
  margin: 15px;
}
.hago-cosas-p{
  font-size: 16px;
  text-align: center;
}

.section-form{
  width: 100%;
  height: 660px;
  background-color: rgb(58, 56, 56);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width:769px){
  .section-form{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 77px;
  }
}

.form{
  width: 335px;
  height: 428px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.form-title{
  color: rgb(255, 250, 244);
  font-size:32px ;
  text-align: center;
  padding: 0 25px;
  
}
@media (min-width:769px){
  .form-title{
    grid-column: 1/2;
  } 
}
.fieldset{
  width: 100%;
}
.label{
  display: block;
  font-size: 16px;
  color:rgb(255, 250, 244)

}
.input, .textarea{
  width: 100%;
  font-family: 'Francois One', sans-serif;
  font-size: 15px;
  display: block;
  padding: 10px;
}
.textarea{
  min-height: 113px;
}
.secction-button{
  background-color: honeydew;
}
.button{
  width: 100%;
  font-family: 'Francois One', sans-serif;
  font-size: 15px;
  display: block;
  padding: 10px;
  background-color: greenyellow;
}
.footer{
  width: 100%;
  height: 493px;
  background-color: rgb(184, 184, 184);
}
@media (min-width:769px){
  .footer{
    height: 346px;
  } 
}
@media (min-width:769px){
  .container-footer{
    height: 346px ;
    display: flex;
   justify-content: space-between;
   padding: 60px;
  }
   
}
.logo-footer-section{
  padding: 50px 0 100px 20px;
 width: 115px;
}
.logo-footer{
  width: 100px;

}
.social{
  padding: 0 0 0 15px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  
}
.img-social{
  height: 25px;
  width: 25px;
  margin: 5px;
  
} 